<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLoggedIn" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLoggedIn && isAdmin === 'ADMIN' " routerLink="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf= "isLoggedIn && isAdmin === 'ADMIN'"  routerLink="/books">Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/userbook">Book Available</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/status">Book Status</a>
          </li>
        </ul>
        <form class="d-flex">
          <button *ngIf="!isLoggedIn" routerLink="/login" class="btn btn-primary btn-sm" type="submit">Login</button>
          &nbsp;
          <button *ngIf="!isLoggedIn" routerLink="/register" class="btn btn-primary btn-sm" type="submit">Register</button>
          <button *ngIf="isLoggedIn" (click)="handleLogout()" class="btn btn-primary btn-sm" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </nav>