<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>BOOK ISBN</th>
            <th>BOOK TITLE</th>
            <th>AUTHOR NAME</th>
            <th>PUBLCATION</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books | async">
            <td>{{book.isbn}}</td>
            <td>{{book.bookTitle}}</td>
            <td>{{book.authorName}}</td>
            <th>{{book.publication}}</th>
            <td>
                <!-- <a [routerLink]="['/book/edit/'+ book.isbn ]" class="btn btn-primary btn-sm">Update</a>
                &nbsp; -->
                <!-- <a routerLink="/reserve-book" class="btn btn-danger btn-sm">Book</a> -->
                <a (click)="bookNow(book.isbn)" class="btn btn-danger btn-sm">Book</a>
            </td>
        </tr>
    </tbody>
</table>
