<div class="header">
    <a routerLink="/book/add" class="btn btn-primary btn-sm mt-3 mb-3">Add Book</a>
</div>
<br>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>BOOK ISBN</th>
            <th>BOOK TITLE</th>
            <th>AUTHOR NAME</th>
            <th>PUBLCATION</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books | async">
            <td>{{book.isbn}}</td>
            <td>{{book.bookTitle}}</td>
            <td>{{book.authorName}}</td>
            <th>{{book.publication}}</th>
            <td>
                <a [routerLink]="['/book/edit/'+ book.isbn ]" class="btn btn-primary btn-sm">Update</a>
                &nbsp;
                <a (click)="delete(book.isbn)" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
