<!-- <form method="POST" [formGroup]="form" (ngSubmit)="onSubmit()"> -->
  <form method="POST" [formGroup]="form">
  
    <div class="mb-3">
      <label for="address" class="form-label">User Name</label>
      <select class="form-select" formControlName="user">
        <option selected>Select User</option>
        <option *ngFor="let user of users | async" [value]="user.userId">{{user.name}}</option>
      </select>
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">Book Title</label>
        <select class="form-select" formControlName="book">
          <option selected>Select Books</option>
          <option *ngFor="let book of books | async" [value]="book.isbn">{{book.bookTitle}}</option>
        </select>
      </div>
    <button type="submit" class="btn btn-primary btn-sm mt-3">Submit</button>&nbsp;
    <a routerLink="/userbook" class="btn btn-danger btn-sm mt-3">Back</a>
  </form>
  
  {{form.value | json}}