<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>BOOK TITLE</th>
            <th>AUTHOR NAME</th>
            <th>PUBLCATION</th>
            <th>NAME</th>
            <th>BORROW DATE</th>
            <th>EXPIRE DATE</th>
            <!-- <th>ACTION</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books | async">
            <td>{{book.ISBN}}</td>
            <td>{{book.AUTHOR_NAME}}</td>
            <td>{{book.AUTHOR_NAME}}</td>
            <td>{{book.PUBLICATION}}</td>
            <td>{{book.NAME}}</td>
            <td>{{book.BORROW_DATE}}</td>
            <td>{{book.EXPIRE_DATE}}</td>
            <td>
                <!-- <a [routerLink]="['/book/edit/'+ book.isbn ]" class="btn btn-primary btn-sm">Update</a>
                &nbsp; -->
                <!-- <a (click)="delete(book.BOOK_ID)" class="btn btn-danger btn-sm">Return</a> -->
            </td>
        </tr>
    </tbody>
</table>
