<h4>{{header}}</h4>
<div class="container mt-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="">ISBN</label>
            <input type="text" class="form-control" formControlName="isbn">
            <label for="">BOOK TITLE</label>
            <input type="text" class="form-control" formControlName="bookTitle">
            <label for="">AUTHOR NAME</label>
            <input type="text" class="form-control" formControlName="authorName">
            <label for="">PUBLICATION</label>
            <input type="text" class="form-control" formControlName="publication">
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                &nbsp;
                <a routerLink="/books" class="btn btn-danger btn-sm" (click)="GOTO()">Back</a>
            </div>
        </div>
    </form>

    {{form.value | json}}
</div>