<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                <h6 class="f-w-600">Hembo Tingor</h6>
                                <p>Web Designer</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Name</p>
                                        <h6 class="text-muted f-w-400">{{name}}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400" >{{email}}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Role</p>
                                        <h6 class="text-muted f-w-400">{{role}}</h6>
                                    </div>
                                </div>
                               
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-5">
    <table class="table table-hover table striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>ISBN</th>
                <th>BOOK TITLE</th>
                <th>AUTHOR NAME</th>
                <th>PUBLCATION</th>
                <th>NAME</th>
                <th>BORROW DATE</th>
                <th>EXPIRE DATE</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books | async">
                <td>{{book.id}}</td>
                <td>{{book.isbn}}</td>
                <td>{{book.bookTitle}}</td>
                <td>{{book.authorName}}</td>
                <td>{{book.publication}}</td>
                <td>{{book.name}}</td>
                <td>{{book.borrowDate}}</td>
                <td>{{book.expireDate}}</td>
                <td>
                    <!-- <a [routerLink]="['/book/edit/'+ book.isbn ]" class="btn btn-primary btn-sm">Update</a>
                    &nbsp; -->
                   <a (click)="delete(book.id)" class="btn btn-danger btn-sm">Return</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
