<br>
<div class="header">
  <a routerLink="/users/create" class="btn btn-primary btn-sm">Add User</a>
</div>
<br>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | async">
      <td>{{user.userId}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>
        <!-- <button type="button" class="btn btn-primary btn-sm" (click)="openModal(template, user)">Update</button> -->
        <a routerLink="/users/edit/{{user.userId}}" class="btn btn-primary btn-sm">Update</a>
        &nbsp;
        <a (click)="delete(user.userId)" class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<div>
  

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form  method="POST" [formGroup]="form" (ngSubmit)="handleFormSubmit()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" formControlName="name">
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="address">
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      </form>
    </div>
  </ng-template>
</div>