<form method="POST" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Email</label>
    <input type="email" class="form-control" formControlName="email">
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Password</label>
    <input type="password" class="form-control" formControlName="password">
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Role</label>
    <select class="form-select" formControlName="roles">
      <option selected>Select Role</option>
      <option value="ADMIN">ADMIN</option>
      <option value="USER">USER</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary btn-sm mt-3">Submit</button>&nbsp;
  <a routerLink="/users" class="btn btn-danger btn-sm mt-3">Back</a>
</form>

{{form.value | json}}